.modal-wrapper {
	.modal-btn {
		position: absolute;
		font-size: 24px;
		background: none;
		border: none;
		outline: none;
		color: #f0f0f0;
	}

	.modal-close-btn {
		top: 45px;
		left: 50px;
	}

	.previous-image-btn {
		top: 40%;
		left: 50px;
	}
	.next-image-btn {
		top: 40%;
		right: 50px;
	}

	.modal-container {
		background-color: #f0f0f0;
		border-radius: 10px;

		.btn-close-form {
			padding: 10px;
			.modal-close-btn {
				background: none;
				outline: none;
				border: none;
				font-size: 24px;
			}
		}

		.modal-info-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 10px;
			padding: 0 10px;
			height: 100%;
			width: 100%;

			.image-info {
				margin: 1rem 0;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				gap: 7px;

				.profile {
					display: flex;
					gap: 5px;
					padding: 0 0.5rem;

					.profile-img {
						height: 50px;
						width: 50px;
						background-color: lightgrey;
						border-radius: 50%;
						overflow: hidden;
					}

					.profile-name {
						p {
							color: #777;
							padding: 3px;
						}
						p:nth-child(1) {
							font-weight: bold;
						}
					}
				}

				.actions {
					align-self: flex-end;
					display: flex;
					gap: 9px;
				}
			}

			.image-container {
				width: 100%;
				height: 100%;
				overflow: hidden;
				text-align: center;
			}

			.more-info {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				gap: 7px;
				margin: 1rem 0;

				p {
					padding: 0 0.25rem;
					color: #777;
				}

				.buttons {
					display: flex;
					gap: 7px;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.modal-wrapper {
		.modal-container {
			.modal-info-container {
				.image-info {
					.actions {
						.outlined-button {
							span {
								display: none;
							}
						}
					}
				}
				.more-info {
					.buttons {
						.outlined-button {
							span {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.modal-wrapper {
		.modal-close-btn,
		.previous-image-btn {
			left: 20px;
		}
		.next-image-btn {
			right: 20px;
		}

		.modal-container {
			width: calc(100% - 100px);
			.image-info {
				.actions {
					.outlined-button {
						padding: 0.5rem 1rem;
					}
				}
			}
			.more-info {
				.buttons {
					.outlined-button {
						padding: 0.5rem 1rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.modal-wrapper {
		.modal-container {
			height: auto;

			.modal-info-container {
				.image-info {
					.profile {
						align-self: flex-start;
					}
					flex-direction: column;
					align-items: center;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.modal-wrapper {
		.modal-container {
			height: auto;

			.modal-info-container {
				.image-info {
					.actions {
						.outlined-button {
							span {
								display: none;
							}
							.download-text {
								display: none;
							}
							.download-icon {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.modal-wrapper {
		.modal-close-btn {
			top: 10px;
			left: 22px;
		}
		.previous-image-btn {
			left: 0;
		}
		.next-image-btn {
			right: 0;
		}
		.modal-container {
			width: calc(100% - 45px);
			.more-info {
				.more-image-info {
					flex-direction: column;
				}
			}
		}
	}
}
