.main-video-container {
	list-style-type: none;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	height: min-content;
	width: 100%;
	margin: 0 0 7px 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	img {
		width: 100%;
		display: block;
		opacity: 1;
	}

	img:hover {
		background: rgb(176, 177, 180);
	}

	.icons-group {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: flex-end;
	}
}

.main-video-container:hover {
	// background: rgb(176, 177, 180);
	filter: opacity(95%);
}

.main-video-container:hover {
	.download-icon,
	.bookmark-icon,
	.heart-icon {
		display: block;
	}
}
