.text-button {
	border: none;
	outline: none;
	background: none;
	font-size: 1rem;
	font-weight: bold;
}

.outlined-button {
	padding: 0.8rem 1.4rem;
	border-radius: 5px;
	border: 1px solid lightgray;
	outline: none;
	font-size: 16px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	.icon {
		font-size: 18px;
	}
}

.filled-button {
	border: none;
	outline: none;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.7rem 1.2rem;
	border-radius: 5px;
}
