.media-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: min-content;
  width: 100%;
  background-color: #faebd7;
  margin: 0 0 15px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  img {
    width: 100%;
    display: block;
    opacity: 1;
  }

  video {
    width: 100%;
    display: block;
    opacity: 1;
  }

  .icons-group {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
  }
}

.media-container:hover {
  .download-icon,
  .bookmark-icon,
  .heart-icon {
    display: block;
  }
}

.download-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  gap: 5px;
  padding: 9px 18px;
  background-color: #05a081;
  color: #fff;
}

.download-icon,
.bookmark-icon,
.heart-icon {
  font-size: 18px;
  border-radius: 8px;
  border: none;
  margin: 7px 7px 7px 0;
  padding: 8px;
  display: none;
}

.heart-icon,
.bookmark-icon {
  background: #eee;
}
