.infinite-scroll-container {
	gap: 7px;
	max-width: 100%;
}

video {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.image-gallery-container,
.video-gallery-container {
	display: flex;
	gap: 9px;
	padding: 0.5rem;
	.col-1,
	.col-2,
	.col-3 {
		width: 100%;
	}
}

.overflow-hidden {
	overflow: hidden;
}

.sp-search-input-container {
	flex: 1;
}

button {
	cursor: pointer;
}

.translateLeft {
	transform: translateX(100%);
}
.translateRight {
	transform: translateX(-100%);
}

.download-btn-bg {
	background-color: #05a081;
}

.text-white {
	color: #fff;
}

.flex-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.flex-row-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-column-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text-center-v {
	display: flex;
	align-items: center;
	gap: 7px;
}

.gap-12 {
	gap: 12px;
}

.modal-close-btn {
	background: none;
	color: white;
	font-size: 1.5rem;
	border: none;
	outline: none;
}

.text-ellipsis {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.social-share-modal-container {
	position: relative;
	max-width: 500px;
	display: flex;
	flex-direction: column;

	.close-modal-btn {
		align-self: flex-end;
		margin-right: 7px;
	}

	.social-share-modal {
		width: 100%;
		background-color: #fff;
		text-align: center;
		padding: 1.25rem;
		border-radius: 9px;
		justify-content: space-between;
		gap: 25px;

		.social-icons-container {
			width: 100%;
			menu {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				list-style-type: none;
				width: 80%;
				margin: 0 auto;

				.social-icon {
					height: 60px;
					width: 60px;
					border-radius: 50%;
					padding: 0.5rem;
					font-size: 2rem;
					line-height: 55px;
					cursor: pointer;
					transition: all 0.2s ease;

					&:hover {
						opacity: 0.75;
					}
				}
			}
		}

		.social-link {
			text-align: left;
			padding: 0.5rem;
			width: 100%;
			color: darkgray;

			.link-btn {
				justify-content: space-between;
				margin-top: 5px;
				padding: 0.5rem 1rem;
				font-size: 1rem;
				height: 50px;
				width: 100%;
				border-radius: 7px;
				color: #666;
				border: 1.5px solid lightgrey;
				outline: none;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
}

.image-details-modal-container {
	max-width: 600px;
	width: 100%;
	border-radius: 9px;
	overflow: hidden;

	.top-container {
		background-color: black;
		color: white;
		padding: 25px 40px;
		height: 65%;

		.top-container-header {
			.image-container {
				height: 100%;
				max-width: 40%;
				border-radius: 10px;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
			.top-heading {
				width: 70%;
				text-align: left;
				margin-left: 25px;
			}
		}

		.statistics {
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			padding: 10px 0;
			margin-top: 1rem;

			div {
				p:last-child {
					margin-top: 0.25rem;
					font-size: 1.4rem;
				}
			}
		}
	}

	.bottom-container {
		background-color: white;
		position: relative;
		display: grid;
		grid-template-columns: repeat(4, minmax(0px, 1fr));
		gap: 20px 10px;
		padding: 15px 30px;
		height: 35%;
		text-overflow: ellipsis;
		border-radius: 10px 10px 0 0;

		.close-btn {
			position: absolute;
			top: 10px;
			right: 10px;
			background: none;
			border: none;
			outline: none;
			font-weight: bold;
			font-size: 1.25rem;
			color: #999;
		}

		.stat-info {
			padding: 5px;
			width: 100%;
			text-align: left;
			text-overflow: ellipsis;
			overflow: hidden;

			p:first-child {
				width: 100%;
				margin-bottom: 5px;
				color: #7f7f7f;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			p:last-child {
				width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}

.pinterest-icon-color {
	color: #ca2127;
}
.pinterest-icon-bg {
	background-color: #fae8e9;
}
.twitter-icon-color {
	color: #1da1f2;
}
.twitter-icon-bg {
	background-color: #e8f6fe;
}
.linkedin-icon-color {
	color: #1e85bc;
}
.linkedin-icon-bg {
	background-color: #e9f3f9;
}
.facebook-icon-color {
	color: #3c5a9a;
}
.facebook-icon-bg {
	background-color: #eceff5;
}
.tumbler-icon-color {
	color: #303d4d;
}
.tumbler-icon-bg {
	background-color: #eaebed;
}

@media screen and (max-width: 600px) {
	.social-share-modal-container {
		.social-share-modal {
			padding: 20px 10px;
			.social-icons-container {
				menu {
					.social-icon {
						height: 40px;
						width: 40px;
						padding: 0.25rem;
						font-size: 1rem;
						line-height: 40px;
					}
				}
			}
		}
	}
}
