.infinite-scroll-container {
	gap: 7px;
	max-width: 100%;
}

.image-gallery-container {
	display: flex;
	gap: 9px;
	padding: 0.5rem;
	.col-1,
	.col-2,
	.col-3 {
		width: 100%;
	}
}

.sp-search-input-container {
	flex: 1;
}

.disp-block-imp {
	display: block !important;
}

.translateLeft {
	transform: translateX(100%);
}
.translateRight {
	transform: translateX(-100%);
}

.download-btn-bg {
	background-color: #05a081;
}

.text-white {
	color: #fff;
}

.flex-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-center-v {
	display: flex;
	align-items: center;
	gap: 7px;
}

.gap-12 {
	gap: 12px;
}
