.image-container {
	position: relative;
	max-width: 75vw;
	margin: 2rem auto;
	ul {
		list-style-type: none;
	}

	// ul li {
	// 	height: 100%;
	// 	width: 100%;
	// }

	img {
		width: 100%;
		height: auto;
		border-radius: 15px;
	}
}

.masonry-grid {
	display: flex;
	margin-left: -30px;
	width: auto;
}

.masonry-grid-column {
	padding-left: 30px;
	background-clip: padding-box;
}

.masonry-grid-column > li {
	margin-bottom: 10px;
}
