* {
	box-sizing: border-box;
}

#search-images-container {
	// max-width: 90vw;
	width: 100%;
	height: 100%;
	max-width: 70vw;
	margin: 0 auto;

	.nav-bar {
		// background-color: rgba($color: #fff, $alpha: 0.5);
		position: fixed;
		z-index: 10;
		top: 0;
		right: 0;
		left: 0;
		color: #fff;
		background-color: #fff;
		display: flex;
		width: 100%;
		max-width: 70vw;
		margin: 0 auto;
		height: 65px;
		padding: 0.5rem;
		justify-content: space-between;
		align-items: center;
		font-weight: bold;

		.nav-bar-left {
			display: flex;
			// justify-content: flex-start;
			height: 100%;
			flex: 1 1 70%;
			gap: 10px;

			.logo {
				display: flex;
				align-items: center;
				height: 100%;
				font-size: 1.6rem;
				gap: 9px;
				margin-right: 30px;
				cursor: pointer;
				transition: all 0.3s ease-in-out;

				img {
					border-radius: 7px;
				}
				span {
					color: #333;
				}
			}

			.logo:hover {
				opacity: 0.8;
			}
		}

		.nav-bar-right {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 1rem;
			flex: 1 0 35%;
		}

		.nav-items {
			color: #333;
			width: 100%;

			li {
				list-style-type: none;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
			}

			li:hover {
				opacity: 0.8;
			}

			button {
				padding: 0 1.25rem;
				height: 50px;
				font-size: 1rem;
				font-weight: 600;
				border-radius: 8px;
				border: 1px solid #dfdfe0;
				background-color: #05a081;
				color: #fff;
			}

			.sidebar-btn {
				display: none;
				background-color: transparent;
				color: #fff;
				border: none;
				font-size: 36px;
				margin: auto auto;
				padding: 0.5rem;
			}
		}
	}

	.related-categories-container {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0.5rem 1rem;
		margin: 1rem 0;
		margin-top: 70px;
		.move-left-icon,
		.move-right-icon {
			position: absolute;
			top: 20px;
		}

		.move-left-icon {
			left: 0;
		}

		.move-right-icon {
			right: 0;
		}

		.related-categories {
			display: flex;
			width: 100%;
			gap: 1rem;

			overflow-x: auto;
			color: #333;

			button {
				padding: 0.5rem 1rem;
				font-size: 1rem;
				border-radius: 5px;
				border: none;
				outline: none;
				background: none;
				border: 1px solid lightgray;
			}
			button:hover {
				background-color: #ffc864;
				border-color: #ffc864;
			}

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}
