* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.fixed-nav {
	position: fixed;
	color: #333;
	background-color: #fff;

	.left {
		width: 100%;
		.logo {
			.search-input-container {
				flex: 1;
			}
		}
	}
	.nav-items {
		.upload-btn {
			background-color: #05a081;
			color: #fff;
		}
		li {
			.sidebar-btn {
				color: #222;
			}
		}
	}
}

.absolute-nav {
	position: absolute;
	color: #fff;
	background-color: transparent;
	background: none;

	.nav-items {
		.sidebar-btn {
			color: #fff;
		}
	}
}

.main-nav-bar {
	// background-color: rgba($color: #fff, $alpha: 0.5);
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	width: 90%;
	max-width: 1600px;
	margin: 0 auto;
	height: 75px;
	padding: 0.75rem;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;

	.left {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		padding: 0 0.5rem;

		.logo {
			display: flex;
			align-items: center;
			height: 100%;
			font-size: 1.6rem;
			gap: 9px;
			cursor: pointer;
			transition: all 0.2s ease-in-out;

			img {
				border-radius: 7px;
			}
		}

		.logo:hover {
			opacity: 0.8;
		}
	}

	.right {
		.nav-items {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			gap: 2rem;

			li {
				list-style-type: none;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
			}

			li:hover {
				opacity: 0.8;
			}

			button {
				padding: 0 1.25rem;
				height: 45px;
				font-size: 1rem;
				font-weight: 600;
				border-radius: 8px;
				background-color: #fff;
				border: none;
				outline: none;
			}

			.upload-btn {
				background-color: #111;
				color: #fff;
				font-size: 20px;
				display: none;
			}

			.sidebar-btn {
				display: none;
				background-color: transparent;
				border: none;
				font-size: 36px;
				margin: auto auto;
				padding: 0.5rem;
			}
		}
	}
}

.main-header {
	position: relative;
	min-height: 500px;
	background: url("../../assets/images/hero-image.jpeg") top right/auto 100% no-repeat;
	z-index: 0;

	.hero {
		width: 100%;
		max-width: 630px;
		min-height: 500px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto;
		padding: 9px;
		color: #fff;

		.heading {
			margin-bottom: 20px;
		}

		.search-input-container {
			height: 50px;
		}
	}
}

.main-header::after {
	content: "";
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.6;
	z-index: -1;
}

#sidebar-container {
	height: 100%;
	width: 275px;
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	background-color: #111;
	padding-top: 60px;
	transition: 0.5s;

	button {
		background-color: transparent;
		border: none;
		outline: none;
		text-align: left;
		padding: 8px 16px;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

	button:hover {
		color: #f1f1f1;
	}

	.close-icon-btn {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 36px;
		padding: 8px;
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

button {
	cursor: pointer;
}

@media screen and (min-width: 1401px) {
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 900px) {
	.main-nav-bar {
		width: 100%;
		.left {
			.logo {
				span {
					display: none;
				}
			}
		}

		.right {
			.nav-items {
				gap: 0.5rem;
				justify-content: flex-start;

				li {
					display: none;
				}

				.sidebar-btn {
					display: block;
					font-size: 32px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.main-nav-bar {
		height: 70px;
	}

	#sidebar-container {
		.close-icon-btn {
			display: block;
		}
	}
}

@media screen and (max-width: 650px) {
	.main-nav-bar {
		height: 65px;
		.left {
			.option-btn {
				padding: 0 8px;
			}
		}
		.right {
			.nav-items {
				button {
					padding: 0 0.75rem;
					height: 40px;
				}
				.upload-btn {
					display: block;
					padding: 0.4rem 0.8rem;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.main-nav-bar {
		height: 60px;
		.left {
			gap: 10px;
		}
		.right {
			.nav-items {
				gap: 0.25rem;
				button {
					display: none;
					height: 35px;
				}

				.upload-btn {
					font-size: 18px;
					height: fit-content;
					padding: 0.35rem;
				}

				.sidebar-btn {
					font-size: 20px;
					padding: 0.4rem;
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.main-nav-bar {
		.left {
			gap: 5px;
		}
		.right {
			.nav-items {
				gap: 0.25rem;
				button {
					padding: 0 1rem;
				}
				.upload-btn {
					font-size: 18px;
					height: fit-content;
					padding: 0.25rem 0.4rem;
				}

				.sidebar-btn {
					font-size: 20px;
					padding: 0.25rem;
				}
			}
		}
	}
}
