* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#sidebar-container {
	height: 100%;
	width: 275px;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;

	button {
		background-color: transparent;
		border: none;
		outline: none;
		text-align: left;
		padding: 8px 16px;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

	button:hover {
		color: #f1f1f1;
	}

	.close-icon-btn {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 36px;
		padding: 8px;
	}
}

.hidden {
	display: none;
}

.show {
	display: block;
}
