.main-image-container {
	list-style-type: none;
	background-color: #faebd7;
	border-radius: 10px;
	overflow: hidden;
	height: min-content;
	width: 100%;
	margin: 0 0 7px 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	img {
		width: 100%;
		display: block;
		opacity: 1;
	}

	img:hover {
		background: rgb(176, 177, 180);
	}

	.icons-group {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: flex-end;
	}
}

.main-image-container:hover {
	background: rgb(176, 177, 180);
	filter: opacity(95%);
	.download-icon,
	.bookmark-icon,
	.heart-icon {
		display: block;
	}
}

.download-icon {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 18px;
	gap: 5px;
	padding: 9px 18px;
	background-color: #05a081;
	color: #fff;
}

.download-icon,
.bookmark-icon,
.heart-icon {
	font-size: 18px;
	border-radius: 8px;
	border: none;
	margin: 7px 7px 7px 0;
	padding: 8px;
	display: none;
}
