.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 20;
	background-color: rgba($color: #000, $alpha: 0.8);

	.modal-btn {
		position: absolute;
		font-size: 24px;
		background: none;
		border: none;
		outline: none;
		color: #f0f0f0;
	}

	.modal-close-btn {
		top: 50px;
		left: 50px;
		right: auto;
	}

	.previous-image-btn {
		top: 40%;
		left: 50px;
	}
	.next-image-btn {
		top: 40%;
		right: 50px;
	}

	.modal-container {
		position: fixed;
		width: calc(100vw - 200px);
		height: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: none;
		outline: none;
		border-radius: 12px;
		z-index: 25;
		background-color: #f0f0f0;
		&::-webkit-scrollbar {
			width: 9px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #777;
			border-radius: 9px;
		}
		&::-webkit-scrollbar-track {
			background-color: #f0f0f0;
			border-radius: 9px;
		}

		.btn-close-form {
			padding: 10px;
			.modal-close-btn {
				background: none;
				outline: none;
				border: none;
				font-size: 24px;
			}
		}

		.modal-info-container {
			position: fixed;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 10px;
			height: calc(100% - 50px);
			width: 100%;

			.image-info {
				margin: 1rem 0;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				gap: 7px;

				.profile {
					display: flex;
					gap: 5px;
					padding: 0 0.5rem;

					.profile-img {
						background-color: #999;
						height: 50px;
						width: 50px;
						border-radius: 50%;
					}

					.profile-name {
						p {
							color: #777;
							padding: 3px;
						}
						p:nth-child(1) {
							font-weight: bold;
						}
					}
				}

				.actions {
					display: flex;
					gap: 9px;
				}
			}

			.image-container {
				width: 100%;
				height: 100%;
				border-radius: 10px;
				overflow: hidden;
			}

			.more-info {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				margin: 1rem 0;

				p {
					padding: 0 0.25rem;
					color: #777;
				}

				.buttons {
					display: flex;
					gap: 7px;
				}
			}
		}
	}
}

.modal-container:hover {
	form {
		.modal-close-btn {
			display: block;
		}
	}
}

.close-modal-btn {
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 20;
	background-color: crimson;
	color: #f0f0f0;
}

@media screen and (max-width: 900px) {
	.modal-container {
		.modal-info-container {
			.image-info {
				.actions {
					.outlined-button {
						span {
							display: none;
						}
					}
				}
			}
			.more-info {
				.butoons {
					.outlined-button {
						span {
							display: none;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1255) {
}
