* {
	box-sizing: border-box;
}
li {
	position: relative;
}

.image-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	// z-index: 5;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	background-color: rgba($color: #000, $alpha: 0.35);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	top: 0;
	right: 0;

	.icon-group {
		display: flex;
		justify-content: flex-end;
		padding: 0.5rem;
		gap: 7px;
	}

	.image-action {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 8px 8px 0;

		.download-icon {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 5px;
			font-size: 18px;
			padding: 9px 18px;
			background-color: #05a081;
			color: #fff;
			border-radius: 20px;
			border: none;
		}
	}

	.bookmark-icon {
		display: block;
		font-size: 18px;
		padding: 8px;
		border-radius: 8px;
		border: none;
	}
	.heart-icon {
		display: block;
		font-size: 18px;
		padding: 8px;
		border-radius: 8px;
		border: none;
	}
}
