.home-container {
	position: relative;
	max-width: 75vw;
	margin: 0 auto;

	.heading {
		display: flex;
		justify-content: space-between;
		padding: 0.5rem;

		button {
			padding: 0.65rem 1.3rem;
			background-color: #fff;
			font-size: 1rem;
			border: 1px solid lightgray;
			border-radius: 5px;
			display: flex;
			align-items: center;
			gap: 5px;
			transition: all 0.2s ease;
		}
		button:hover {
			border-color: #333;
		}
	}
}
