.related-categories-container {
	position: sticky;
	top: 74px;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1.5rem 1.2rem;
	margin: 1rem 0;
	margin-top: 80px;
	transition: 0.2s ease-in-out;
	z-index: 1;
	background-color: white;
	color: #333;

	.scroll-left-btn,
	.scroll-right-btn {
		border: none;
		background: none;
		position: absolute;
		top: 43%;
	}

	.scroll-left-btn {
		left: 0;
	}

	.scroll-right-btn {
		right: 0;
	}

	.related-categories {
		display: flex;
		width: 100%;
		overflow-x: scroll;
		scroll-behavior: smooth;
		transition: all 0.2s ease-in-out;
		white-space: nowrap;

		.category-button {
			margin: 0 0.75rem 0 0;
			height: 50px;
			padding: 0 30px;
			font-size: 0.8rem;
			border-radius: 5px;
			outline: none;
			background: none;
			border: 1px solid lightgray;
			font-weight: 700;
		}
		.category-button:hover {
			background-color: #ffc864;
			border-color: #ffc864;
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

@media screen and (max-width: 650px) {
	.related-categories-container {
		top: 55px;
		.related-categories {
			.category-button {
				height: 40px;
			}
		}
	}
}
